__pycache__
*.ckpt
*.safetensors
*.pth
*.pt
*.bin
*.patch
*.backup
*.corrupted
*.partial
*.onnx
sorted_styles.json
/hash_cache.txt
/input
/cache
/language/default.json
/test_imgs
/config.txt
/config_modification_tutorial.txt
/user_path_config.txt
/user_path_config-deprecated.txt
/modules/*.png
/repositories
/fooocus_env
/venv
/tmp
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
/notification.ogg
/notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/node_modules
/package-lock.json
/.coverage*
/auth.json
/.*.did
/.*.pem
/models/models_info.json
!fooocus_inpaint_head.pth
!fooocus_ip_negative.safetensors
!unaestheticXLv31.safetensors
!vaeapp_sd15.pth
!xl-to-v1_interposer-v3.1.safetensors
!xlvaeapp.pth
/enhanced/config.json
/src
/pyproject.toml
/Cargo.toml
/.github/workflows/
/outputs.1
/test
wd-v1-4-moat-tagger-v2.csv
.DS_Store
/custom/OneButtonPrompt/settings/paths.json
/custom/OneButtonPrompt/settings/settings.json
/custom/OneButtonPrompt/models/loras/
/custom/OneButtonPrompt/random_prompt/userfiles/obp_presets.json
.token_user.pem
.user_Pq69KpDwNenAq2aA33kyo9rw15xrEgiPn.did
/repos/
/enhanced/api_token.json
*.did
/models/hydit
/client.toml
/models
/comfy/input/
/comfy/output/
/comfy/temp/
/comfy/extra_model_paths.yaml
/comfy/user/default/*.json
/comfy/custom_nodes/comfyui_controlnet_aux/config.yaml
/patch_pyhash.py*
